$accent-primary-color: #075c5c;
$accent-primary-color-dark: #0d8b8b;

$text-primary-color: rgb(235, 235, 235);
$text-primary-color-dark: rgb(22, 22, 22);

$background-secondary-color: #19191a;
$background-secondary-color-dark: #c7c7c7;

$tabbar-text-primary-color: #1bc8fd;
$tabbar-text-primary-color-dark: #11303a;

$background-primary-color: #e4e4e4;
$background-primary-color-dark: #2b2b2b;

$button-primary-color: #0a0a0a;
$button-secondary-color: rgb(46, 46, 46);

$grey-color: #4e4e4e;

$colors: (
  --accent-primary-color: (
    $accent-primary-color,
    $accent-primary-color-dark,
  ),
  --text-primary-color: (
    $text-primary-color,
    $text-primary-color-dark,
  ),
  --background-secondary-color: (
    $background-secondary-color,
    $background-secondary-color-dark,
  ),
  --background-primary-color: (
    $background-primary-color,
    $background-primary-color-dark,
  ),
  --tabbar-text-primary-color: (
    $tabbar-text-primary-color,
    $tabbar-text-primary-color-dark,
  ),
);
