@use "../../styles/colors.scss" as colors;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

.header-row {
  display: flex;
  justify-items: right;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
}
