@use "../../styles/colors.scss" as colors;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  font-family: roboto;
}

.spacing {
  flex-grow: 1;
  height: 60px;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.65);
}

.welcome {
  font-weight: 300;
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-size: 3rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 16px 16px 16px 16px;
  margin: 20px 0px 0px 0px;
  height: auto;
  font-size: 1.5em;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: colors.$text-primary-color;
  }
  .mat-form-field-label {
    color: colors.$text-primary-color;
  }
  .mat-form-field-underline {
    background-color: slategray;
    display: none;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
  .mat-form-field-required-marker {
    color: colors.$text-primary-color;
  }
  .mat-error {
    font-size: 1.5em;
    margin: auto;
    padding: 0;
  }
}

.container-settings {
  //text-align: center;
  height: 100%;
  margin: auto;
  width: auto;
  opacity: 0.85;
  padding-right: 16px;
  display: flex;
  flex-flow: column;
}

.form-container {
  width: 500px;
  margin: 0px auto;
}

.form-field {
  display: block;
}

::ng-deep .mat-button {
  color: colors.$text-primary-color;
  background-color: colors.$button-primary-color;
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  cursor: pointer;
  //border-radius: 0;
}
a {
  color: colors.$text-primary-color;
  text-decoration: none;
}
.content {
  align-items: center;
  text-align: center;
}

@media (max-width: 870px) {
  .form-container {
    width: 100%;
  }
}
