<div class='bold-line'></div>
<div class='container'>
    <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
            <div class='welcome'>Zarejestruj się</div>
            <form [formGroup]="form" (submit)="submit()">
                <div class='input-fields'>
                    <input formControlName="first_name" type="text" class='input-line full-width' placeholder="Imię" required>
                    <input formControlName="last_name" type="text" class='input-line full-width' placeholder="Nazwisko" required>
                    <input formControlName="email" type="text" class='input-line full-width' placeholder="Email" required>
                    <input formControlName="password" type="password" class='input-line full-width' placeholder="Hasło" required>
                </div>
                <div class='spacing'>lub <a routerLink="/login" class="highlight">Zaloguj się</a></div>
                <div><button type="submit" class='ghost-round full-width'>Zarejestruj</button></div>
            </form>
        </div>
    </div>
</div>