<mat-card class="mat-card-task">
  <mat-card-header>
    <mat-card-title>Task: {{ task.id }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><span class="headers-bold">Deadline: </span>{{ task.task_date }}</p>
  </mat-card-content>
  <mat-card-content>
    <p><span class="headers-bold">Description: </span>{{ task.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>CONFIRM</button> -->
    <!-- [(ngModel)]="checked" -->
    <mat-checkbox (change)="onCheckboxClick($event)" color="primary"
      >{{mark}}</mat-checkbox
    >
    <button mat-raised-button (click)="openDialog()">SEE TASK</button>
  </mat-card-actions>
</mat-card>