<!-- Card container -->
<!-- <div class="task">
    <h3>{{task.id}}</h3>
    <p>{{task.deadline}}</p>
</div> -->

<mat-card class="mat-card-task">
    <mat-card-header>
        <mat-card-title>Task {{task.id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Deadline {{task.deadline}}</p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>CONFIRM</button> -->
        <mat-checkbox [(ngModel)]="checked">MARK AS DONE</mat-checkbox>
        <button mat-button>SEE TASK</button>
    </mat-card-actions>
</mat-card>