
<h2 mat-dialog-title>Task: {{ taskId }}</h2>

<mat-dialog-content>
  <p class="wrapper-dialog">
    <span class="headers-bold" 
    [ngStyle]="{
      color: team_id === undefined ? '#0d8b8b' : '#770d0d'
    }"
    >Deadline: </span>
    {{ deadline }}
  </p>
  <p class="wrapper-dialog">
    <span class="headers-bold"
    [ngStyle]="{
      color: team_id === undefined ? '#0d8b8b' : '#770d0d'
    }"
    >Description: </span>
    {{ message }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close task</button>
</mat-dialog-actions>
