<mat-tab-group dynamicHeight mat-stretch-tabs>
  <mat-tab label="Użytkownicy">
    <div class="example-small-box mat-elevation-z4">
      <h2 *ngFor="let user of usersList">{{user.first_name}} {{user.last_name}}, {{user.email}}, {{this.translateToRole(user.role)}}
        <button mat-flat-button [disabled]="false" (click)="openDialogEditPlayer(user)">
        Edytuj użytkownika
      </button>
      <!-- <button mat-flat-button [disabled]="false" (click)="deleteUser(user)">
        Usuń użytkownika
      </button> -->
      <mat-divider></mat-divider>
    </h2>
    </div>
  </mat-tab>
  <mat-tab label="Drużyny">
    <button mat-flat-button [disabled]="false" (click)="openDialogAddTeam()">
      Stwórz nową drużynę
    </button>
    <div class="example-small-box mat-elevation-z4">
      <h2 *ngFor="let team of teamsList">{{team.team_name}}
        <button mat-flat-button [disabled]="false" (click)="openDialogAddPlayer(team)">
          Dodaj gracza do drużyny
        </button>
        <button mat-flat-button [disabled]="false" (click)="openDialogRemovePlayer(team)">
          Usuń gracza z drużyny
        </button>
        <button mat-flat-button [disabled]="false" (click)="openDialogEditTeam(team)">
          Edytuj drużynę
        </button>
        <!-- <button mat-flat-button [disabled]="false" (click)="deleteTeam(team)">
          Usuń drużynę
        </button> -->
        <mat-divider></mat-divider>
      </h2>
    </div>
  </mat-tab>
</mat-tab-group>
