
<div mat-dialog-content>
  <h1 mat-dialog-title>Edytuj drużynę</h1>
  <p>Nazwa drużyny:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.team_name">
  </mat-form-field>
  <p>Trener:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.coach_id">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <a class="editBtn">
    <span class="material-icons md-48" [mat-dialog-close]="data" cdkFocusInitial>check_circle</span>
    <span class="menu-item-label md-24">Edytuj</span>
  </a>
  <a class="cancelBtn" (click)="onNoClick()">
    <span class="material-icons md-48">cancel</span>
    <span class="menu-item-label md-24">Anuluj</span>
  </a>
  <!-- <button mat-button [mat-dialog-close]="data.team_name" cdkFocusInitial>Okej</button> -->
  <!-- <button mat-button (click)="onNoClick()">okejn't</button> -->
</div>
