<div class="container-messages">
  <form [formGroup]="form" (ngSubmit)="sendMessage()" #myForm="ngForm">
    <div class="messages-list">
      <mat-card
        *ngFor="let message of messages"
        class="mat-card-task"
        id="assign-right"
        [ngStyle]="{
          'margin-left': message.sender_id === userId ? 'auto' : '0'
        }"
      >
        <mat-card-content>
          <p>
            <span
              class="headers-bold"
              [ngStyle]="{
                color: isPerson === 'false' ? '#770d0d' : '#0d8b8b'
              }"
              >Od: </span
            >{{ message.first_name }} {{ message.last_name }}
          </p>
        </mat-card-content>
        <mat-card-content>
          <p>
            <span
              class="headers-bold"
              [ngStyle]="{
                color: isPerson === 'false' ? '#770d0d' : '#0d8b8b'
              }"
              >Wysłano: </span
            >{{ message.date }}
          </p>
        </mat-card-content>
        <mat-card-content>
          <p>
            <span
              class="headers-bold"
              [ngStyle]="{
                color: isPerson === 'false' ? '#770d0d' : '#0d8b8b'
              }"
              >Wiadomość: </span
            >{{ message.message }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="textarea-send">
      <mat-form-field
        appearance="fill"
        id="textarea-field"
        [style.width.%]="80"
        [formControl]="message"
        name="message"
        ngDefaultControl
      >
        <mat-label>Napisz coś</mat-label>
        <input matInput type="text" #sendMessageInput (keyup)="(0)" />
      </mat-form-field>
    </div>
    <div class="send-btn">
      <button
        mat-fab
        color="primary"
        type="submit"
        (click)="sendMessageInput.value = ''"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
