@use "/src/app/styles/colors.scss" as colors;

.container {
  // background: colors.$background-secondary-color;
  color: colors.$text-primary-color;
}
.my-custom-style {
  position: fixed;
  right: 20px;
  bottom: 300px;
  z-index: 2000;
}
