@use "../../styles/colors.scss" as colors;

mat-form-field {
  margin: auto;
  width: 100%;
  font-size: 15px;
  color: colors.$text-primary-color;
}

mat-label {
  color: colors.$text-primary-color;
}

mat-datepicker {
  color: white;
}

input {
  color: white;
}

mat-datepicker-toggle {
  color: white;
}

.kolorki {
  color: white;
}
