<mat-tab-group dynamicHeight>
    <mat-tab label="Todo">
        <button mat-raised-button [disabled]="disabled" 
(click)="onClickDoneTasks()">Mark selected tasks as done</button>
      <div class="example-small-box mat-elevation-z4">
        Small content
        <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
      </div>
    </mat-tab>
    <mat-tab label="Done">
      <div class="example-large-box mat-elevation-z4">
        Large content
        <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
      </div>
    </mat-tab>
  </mat-tab-group>
  


