@use "../../styles/colors.scss" as colors;

*,
*:after,
*:before {
  box-sizing: border-box;
}

// .container-tabbar {
//   position: fixed;
//   bottom: 0;
// }

// Codepen spesific styling - only to center the elements in the pen preview and viewport
.container {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  //display: flex;
  //align-items: center;
  //justify-content: center;
}
// End Codepen spesific styling

body {
  font-family: 'Inter', sans-serif;
  color: #303030;
  background-color: mix(
    colors.$background-primary-color-dark,
    colors.$tabbar-text-primary-color,
    95%
  );
}

.menu {
  display: flex;
  flex-grow: 1;
  height: 60px;
  overflow: hidden;
  background-color: colors.$background-primary-color-dark;
  box-shadow: 0 0 1px 0 rgba(colors.$tabbar-text-primary-color, 0.25),
    0 15px 30px 0 rgba(colors.$tabbar-text-primary-color, 0.1);
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  &:focus,
  &:hover {
    cursor: pointer;
    outline: none;
    .material-icons {
      font-family: 'Material Icons';
      color: colors.$tabbar-text-primary-color;
    }

    .menu-item-label {
      color: colors.$tabbar-text-primary-color;
    }
  }
}

.material-icons {
  display: block;
  margin-bottom: 4px;
  font-size: 20px;
  color: mix(
    colors.$background-primary-color-dark,
    colors.$tabbar-text-primary-color,
    60%
  );
  transition: 0.25s ease;
}

.menu-item-label {
  display: block;
  font-size: 12px;
  color: mix(
    colors.$background-primary-color-dark,
    colors.$tabbar-text-primary-color,
    70%
  );
  transition: 0.25s ease;
}

mat-sidenav-content {
  margin-bottom: 100px;
}

mat-sidenav {
  margin: 20px;
  // margin-bottom: 100px;
  max-width: 500px;
  border-right: none;
  background: colors.$background-secondary-color;
  color: colors.$text-primary-color;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
}
// mat-sidenav-content {
//   width: 100%;
//   align-content: center;
// }
.content {
  //text-align: center;
  align-content: center;
  //height: calc(100vh - 102px);
  margin: 16px;
  //margin-left: 32px;
  margin-bottom: 100px;
  //display: flex;
  background: #303030;
  color: white;
  border-radius: 10px;
}

mat-sidenav-container {
  position: relative;
  height: calc(100vh - 70px);
}

::ng-deep .mat-button {
  color: colors.$text-primary-color;
  background-color: colors.$button-primary-color;
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  cursor: pointer;
  //border-radius: 0;
}
.settingsBtn {
  position: absolute;
  left: 10%;
  margin: auto;
  bottom: 110px;
  width: 80%;
}
.logoutBtn {
  position: absolute;
  left: 10%;
  margin: auto;
  bottom: 30px;
  width: 80%;
}
mat-icon {
  color: red;
  position: absolute;
  right: 0px;
}

@media (max-width: 768px) {
  #mat-sidenav {
    display: none;
  }
}
