<div class="container-tabbar">
  <mat-sidenav-container>
    <mat-sidenav mode="over" opened="{{ sidebarVisible }}">
      <!-- here is stuff on the sidebar -->
      <!-- if we have user data then display their first name and last name -->

      <h2 *ngIf="user; else elseBlock">
        {{ user.first_name }} {{ user.last_name }}
      </h2>
      <ng-template #elseBlock> user.first_name user.last_name</ng-template>
      <mat-divider></mat-divider>

      <h4 style="text-align: center">Rola: {{ userRoleString }}</h4>

      <a *ngIf="user.role == 3" routerLink="/admin-panel" class="menu-item">
        <span class="material-icons md-48">manage_accounts</span>
        <span class="menu-item-label md-24">Administrator</span>
      </a>
      <a></a>
      <a routerLink="/settings" class="menu-item">
        <span class="material-icons md-48">settings</span>
        <span class="menu-item-label md-24">Konto</span>
      </a>
      <a class="menu-item" (click)="logout()">
        <span class="material-icons md-48">logout</span>
        <span class="menu-item-label md-24">Wyloguj</span>
      </a>
    </mat-sidenav>
    <mat-sidenav-content cdkScrollable>
      <div class="content">
        <!-- here is stuff of main page -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="container">
    <nav class="menu">
      <a (click)="toggleSidebar()" class="menu-item">
        <span class="material-icons">menu</span>
        <span class="menu-item-label">Menu</span>
      </a>

      <a routerLink="/messages-list" class="menu-item">
        <span class="material-icons">chat</span>
        <span class="menu-item-label">Messages</span>
      </a>
      <a routerLink="/teams" class="menu-item">
        <span class="material-icons">group</span>
        <span class="menu-item-label">Zespoły</span>
      </a>
      <a routerLink="/tasks" class="menu-item">
        <span class="material-icons">task_alt</span>
        <span class="menu-item-label">Zadania</span>
      </a>
      <a class="menu-item" (click)="logout()">
        <span class="material-icons">logout</span>
        <span class="menu-item-label">Wyloguj</span>
      </a>
    </nav>
  </div>
</div>
