*,
*:after,
*:before {
	box-sizing: border-box;
}

// Codepen spesific styling - only to center the elements in the pen preview and viewport
.container {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
// End Codepen spesific styling

body {
	font-family: "Inter", sans-serif;
	color: #303030;
	background-color: mix(#fff, #ad2e2e, 95%);
}

.menu {
	display: flex;
	flex-grow: 1;
	height: 44px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 1px 0 rgba(#ad2e2e, 0.25), 0 15px 30px 0 rgba(#ad2e2e, 0.1);
}

.menu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	text-decoration: none;
	&:focus,
	&:hover {
		outline: none;
		.material-icons {
			font-family: "Material Icons";
			color: #ad2e2e;
		}

		.menu-item-label {
			color: #ad2e2e;
		}
	}
}

.material-icons {
	display: block;
	margin-bottom: 4px;
	font-size: 20px;
	color: mix(#fff, #ad2e2e, 60%);
	transition: 0.25s ease;
}

.menu-item-label {
	display: block;
	font-size: 10px;
	color: mix(#fff, #ad2e2e, 70%);
	transition: 0.25s ease;
}