<!-- <div class="container-tabbar">
  <mat-sidenav-container>
    <mat-sidenav mode="over" opened="{{ sidebarVisible }}">
      <!-- here is stuff on the sidebar -->
      <!--<h2 *ngIf="user; else elseBlock">
        {{ user.first_name }} {{ user.last_name }}
      </h2>
      <ng-template #elseBlock> user.first_name user.last_name</ng-template>
      <mat-divider></mat-divider>

    <h4>Rola: {{this.getUserRole(user.role)}}</h4>
    <div routerLink="/adminPanel" class="adminBtn">
      <button mat-button type="submit">Administrator</button>
    </div>
      <div routerLink="/settings" class="settingsBtn">
        <button mat-button type="submit">Konto</button>
      </div>
      <div class="logoutBtn">
        <button mat-button type="submit" (click)="logout()">Wyloguj</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <!-- here is stuff of main page -->
       <!-- <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="container">
    <nav class="menu">
      <a (click)="toggleSidebar()" class="menu-item">
        <span class="material-icons">menu</span>
        <span class="menu-item-label">Menu</span>
      </a>
      <!-- <a routerLink="/notifications" class="menu-item">
        <span class="material-icons">notifications</span>
        <span class="menu-item-label">Aktywność</span>
      </a>
      <a routerLink="/chat" class="menu-item">
        <span class="material-icons">chat</span>
        <span class="menu-item-label">Czat</span>
      </a> -->
      <!--<a routerLink="/messages" class="menu-item">
        <span class="material-icons">chat</span>
        <span class="menu-item-label">Messages</span>
      </a>
      <a routerLink="/teams" class="menu-item">
        <span class="material-icons">group</span>
        <span class="menu-item-label">Zespoły</span>
      </a>
      <a routerLink="/tasks" class="menu-item">
        <span class="material-icons">task_alt</span>
        <span class="menu-item-label">Zadania</span>
      </a>
      <!-- <a routerLink="/calendar" class="menu-item">
        <span class="material-icons">date_range</span>
        <span class="menu-item-label">Kalendarz</span>
      </a> -->
     <!-- <a class="menu-item" (click)="logout()">
        <span class="material-icons">logout</span>
        <span class="menu-item-label">Wyloguj</span>
      </a>
    </nav>
  </div>
</div> -->
<nav mat-tab-nav-bar>
  <!-- <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link"
     [active]="activeLink == link"> {{link}} </a>
  <a mat-tab-link disabled>Disabled Link</a> -->
</nav>
